<header>
Webmin User SSH Keys Help
</header>
<h2 id="description">Description</h2>
<p>This module modifies a user's <code>authorized_keys</code> file for an OpenSSH or equivalent server. The module attempts to leave comment lines and blank lines in the file</p>
<h2 id="security-considerations">Security Considerations</h2>
<p>Any program that modifies user access ability presents security risks. System administrators should carefully consider these risks before enabling this module.</p>
<h2 id="adding-or-modifying-keys">Adding or Modifying Keys</h2>
<p>Keys can be added or modified using the Webmin interface. The name of a key is taken to be the comment text that appears at the end of a key. Comments at the end of keys will be overwritten with key name in the interface.</p>
<h2 id="configuration">Configuration</h2>
<dl>
<dt><em>Authorized Keys File Path:</em></dt>
<dd><p>path to a user's authorized keys file. A tilde (<code>~</code>) will be replaced with the user's home directory. If this value is blank, it will cause errors when trying to add keys to users.</p>
<p>Default: <code>~/.ssh/authorized_keys</code></p>
</dd>
<dt><em>Minimum UID:</em></dt>
<dd><p>the minimum numeric UID for display of users. Users with a UID less than this number will not be displayed in the user list for the module.</p>
<p>Default: <code>1000</code></p>
</dd>
<dt><em>Maximum UID:</em></dt>
<dd><p>the maximum UID for display of users. Users with a UID greater than this number will not be displayed in this list.</p>
<p>Default: <code>10000</code></p>
</dd>
<dt><em>System Key #1 -- #6:</em></dt>
<dd><p>these keys allow for the storage of public keys that can be quickly added to any user. The text box should include the text of the public key <em>plus</em> a comment describing it at the end of the line (<em>e.g.</em> an email address).</p>
</dd>
</dl>
